<div class="button-bar">
	<a class="button button-large" onclick="setColor(event)";>Particle<br>Physics</a>
	<a class="button button-large" onclick="setColor(event)";>NanTechnology</a>
	<a class="button button-large" onclick="setColor(event)";>BioInformatics</a>
</div>



<div class="button-bar">
	<a class="button button-large" onclick="setColor(event)";>Mathematics</a>
	<a class="button button-large" onclick="setColor(event)";>History</a>
	<a class="button button-large" onclick="setColor(event)";>BioInformatics</a>
</div>


<div class="button-bar">
	<a class="button button-large" onclick="setColor(event)";>Machine Learning</a>
	<a class="button button-large" onclick="setColor(event)";>Classical Music</a>
	<a class="button button-large" onclick="setColor(event)";>Computational Sociology</a>
</div>


<div class="button-bar">
	<a class="button button-large" onclick="setColor(event)";>Statistics</a>
	<a class="button button-large" onclick="setColor(event)";>Astronomy</a>
	<a class="button button-large" onclick="setColor(event)";>Psychology</a>
</div>


<div class="button-bar">
	<a class="button button-large" onclick="setColor(event)";>Economics</a>
	<a class="button button-large" onclick="setColor(event)";>Data Science</a>
	<a class="button button-large" onclick="setColor(event)";>Literatur</a>
</div>
<a href="/choosen_subjects" class="nextLink">
	<div id="next-button">
		<div class="button button-full button-positive">
			Next
		</div>
	</div>
</a>

