/* Empty. Add your own CSS if you like */
button:active {
	background-color: #3860F4 !important;
}
.active {
  background-color: #3860F4 !important;  
}

.inactive {
  background-color: #FFFFFF;
}
.button-bar > .button {
    -moz-box-flex: 1;
    border-radius: 0;
    border-width: 1px 0 1px 1px;
    display: block;
    flex: 1 1 0;
    overflow: hidden;
    padding: 0 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: normal;
    width: 0;
}
#next-button div {
    background: none repeat scroll 0 0 transparent;
    border-radius: 5px;
    color: blue;
    font-size: 26px;
}
.nextLink {
    text-decoration: none;
}